.tab-close {
color: gray;
text-align: right;
cursor: pointer;
}

.pane{
padding: 0em;
}
.nav-tabs {
    border-bottom: 2px solid #DEE3E7;
    padding-block: 10px;
}
.tab-title{
    padding-inline-end: 25px;
}

@media screen and (max-width: 500px) {
    .pane{
        padding: 0em;
        }
}