.tab-close {
color: gray;
text-align: right;
cursor: pointer;
}

.pane{
padding: 1em;
}
.nav-tabs {
    border-bottom: 2px solid #DEE3E7;
    padding-block: 10px;
}
.tab-titles{
    padding-inline-end: 25px;
}