<h3 *ngIf="isPodPage" class="w3-text-grey">Top Podcasts</h3>
<div [hidden]="isPodPage" class="w3-container w3-animate-opacity horizontal-scroll">
    <div class="w3-display-container w3-col" *ngFor="let pod of podcasts[0].data.data | slice:0:10 let o=index" >
        <a href="{{pod.link}}" target="_blank">
        <img src="{{pod.picture}}" alt="podcasts-cover" style="width:100%" class="w3-circle w3-hover-opacity">
        </a>
        <div class="w3-display-middle w3-display-hover w3-large">
        <small>
        <div class="w3-text-white w3-black tooltip"
             [ngbTooltip]="tipContent" triggers="manual" #t2="ngbTooltip" triggers="hover focus" 
             [autoClose]="'outside'" (mouseenter)="toggleWithDescription(t2,'{{pod.description}}')">  
             {{pod.description}}
        </div>
        </small>
        </div>
    <h6 class="w3-text-grey w3-center" style="font-weight:500">{{pod.title}}</h6>
    </div>
</div>

<div *ngIf="isPodPage" class="w3-container grid-container"  >
  
  <div class="w3-display-container  w3-animate-opacity w3-col m9"  *ngFor="let pod of podcasts[0].data.data | slice:0:30 let p=index" [ngValue]="pod" >
   <a (click)='getLink($event)' > 
     <img src="{{pod.picture_medium}}" alt="Avatar" id="{{pod.id}}" style="width:100%" class="w3-circle w3-hover-opacity">
    </a>
    <div class="w3-display-middle w3-display-hover w3-large">
    <small>
    <!-- <div class="w3-text-white w3-black tooltip"
         [ngbTooltip]="tipContent" triggers="manual" #t2="ngbTooltip" triggers="hover focus" 
         [autoClose]="'outside'" (mouseenter)="toggleWithDescription(t2,'{{pod.description}}')">
         {{pod.description}}
    </div> -->
    </small>
    </div>
    <h6 class="w3-text-gray w3-center" style="font-weight:500">{{pod.title}}</h6>
  </div>
  
</div>


