.mr-10{
    margin:10px;
}

a {
text-decoration: none;
font-weight:800;
color:grey;
}

a :hover{
color:lightseagreen;
}

.radio-cards{
    width: 100%;
    padding: 5px;
  }

.br-5{
    border-radius: 5px;
}

.horizontal-scroll{
    display: grid;
    grid-gap: 10px;
    /* grid-template-columns: 10px; */
    grid-template-rows: minmax(167px,10fr);
    grid-auto-flow: column;
    /* grid-auto-columns: calc(50% - var(--gutter) * 2); */
    // overflow-x: scroll;
    scroll-snap-type: revert;
    /* padding-bottom: 10px; */
    // margin-bottom: calc(-.25 * var(--gutter));
    /* height: auto;*/
}

.w3-card-4{
    display:inline-block;
    width:250px;
    margin:10px;
}

.horintal-scroll > div,
.radio-cards {
    padding-top: 15px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.horintal-scroll:before,
.horintal-scroll:after {
  content: '';
  width: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    // grid-template-columns: 195.31px 195.31px 195.31px 195.31px 195.31px 195.31px 195.31px;
    grid-gap: 0px;
    //background-color: #2196F3;
    //padding: 10px;
}
  
.grid-container > div {
   // background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 2px 0;
  
}

@media screen and (max-width: 500px) {
    .horizontal-scroll{
        display: inline-grid;
        grid-gap: 7px;
        grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        /* grid-auto-flow: column; */
        overflow-x: scroll;
        /* scroll-snap-type: revert;*/
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }

}