<div [hidden]="isRadioPage" class="w3-container w3-animate-opacity horizontal-scroll">
  <a href="/charts/radio" class="w3-text-grey"><h3>Radio</h3></a> 
    <div class="w3-display-container w3-hover-opacity w3-col" *ngFor="let rad of radio[0].data.data | slice:0:10 let a=index" >
    <img src="{{rad.picture}}" alt="radio-cover" style="width:100%" class="w3-circle">
    <div class="w3-display-middle w3-display-hover w3-large">
      <p class="w3-text-white">{{rad.title}}</p>
    </div>
    <h6 class="w3-text-grey w3-center" style="font-weight:500">{{rad.title}}</h6>
    </div>
</div>

<div *ngIf="isRadioPage" class="w3-container grid-container">
  <a href="/charts/radio" class="w3-text-grey"><h3>Radio</h3></a> 
  <div class="w3-display-container w3-hover-opacity w3-animate-opacity w3-col m9" *ngFor="let rad of radio[0].data.data | slice:0:30 let r=index" >
    <img src="{{rad.picture_medium}}" alt="Avatar" style="width:100%" class="w3-circle">
    <div class="w3-display-middle w3-display-hover w3-large">
    <p class="w3-text-white">{{rad.title}}</p>
    </div>
    <h6 class="w3-text-gray w3-center" style="font-weight:500">{{rad.title}}</h6>
  </div>
</div>

