<div [hidden]="isRadioPage" class="w3-container">
<a href="/charts/radio" class="w3-text-grey"><h3>Radio</h3></a> 
<div class="w3-col m12 l12 mt-10 horizontal-scroll w3-animate-opacity">
  
    <div class="w3-display-container w3-hover-opacity w3-col" *ngFor="let rad of radio[0].data.data | slice:0:10 let a=index" >
    <a (click)="playRadio($event)" > <img id={{rad.id}} src="{{rad.picture}}" alt="radio-cover"  class="w3-circle radio-thumbs"></a>
    <!-- <div class="w3-display-middle w3-display-hover w3-large">
      <p class="w3-text-white">{{rad.title}}</p>
    </div> -->
    <h6 class="w3-text-grey w3-center" style="font-weight:500">{{rad.title}}</h6>
    </div>
</div>
</div>
<div *ngIf="isRadioPage" class="w3-container w3-animate-opacity w3-col m12 l12" >
<a href="/charts/radio" class="w3-text-grey"><h3>Radio</h3></a> 
<div class="w3-col m12 grid-container">
  <div class="w3-display-container w3-hover-opacity w3-animate-opacity w3-col m9" *ngFor="let rad of radio[0].data.data | slice:0:30 let r=index" >
    <a (click)="playRadio($event)"> <img id={{rad.id}} src="{{rad.picture_medium}}"  alt="Avatar" class="w3-circle radio-thumbs"></a>
    <!-- <div class="w3-display-middle w3-display-hover w3-large">
    <p class="w3-text-white">{{rad.title}}</p>
    </div> -->
    <h6 class="w3-text-gray w3-center" style="font-weight:500">{{rad.title}}</h6>
  </div>
</div>
</div>

