<div class="w3-container mt-3  p-20">
<div class="w3-container w3-col m12 artist-card">
    <div class="w3-container w3-row" *ngFor="let art of artist">
        <div class="w3-col m2 l3 w3-center w3-hover-opacity" >
            <img src="{{art.data.picture_medium}}" class="w3-circle" style="width:80%"/>
        </div>
         <div class="w3-col m8 l9">
            <h2 >{{art.data.name}}</h2>
            <p class="title">{{art.data.nb_fan}} fans</p>
            <p class="title"><input type="button" class="w3-btn w3-cyan w3-text-white w3-round-xxlarge" value="Mix"></p>
         </div>
    </div>
    <!-- <div class="differ mt-40">
    <a class="w3-bar-item " >Discography</a>
    <a class="w3-bar-item " >Tracks</a>
    <a class="w3-bar-item " >Singles</a>
    </div> -->

</div>

<div class="w3-container w3-col m12  mt-20 mb-5">
   
       <app-tabs>
       
        <my-tab class="tab-headers" [tabTitle]="'Discography'">
          <div class="w3-row">
        <div class="w3-container artist-tab  w3-animate-zoom w3-col m7 l9 " id="discography">
           <a href=""><h3>Top Tracks</h3></a>
          <div class="w3-card-4 br w3-col m12 card-container">
            <table class="table">
              <tbody>
                <tr *ngFor="let track of tracks[0].data.data | slice:0:5 let i=index">
                  <td >{{i+1}}</td>
                  <td>{{track.title_short}}</td>
                  <td><a href="{{track.link}}">Play</a></td>
                  <td><span *ngIf="track.explicit_lyrics" class="w3-badge w3-round w3-text-white w3-grey w3-border w3-tiny" style="padding:1px 5px 1px 5px">E</span>
                      <span *ngIf="!track.explicit_lyrics"> </span>
                  </td>                  
                  <td>{{track.duration | duration}}</td>
                </tr>
              </tbody>
            </table>
            <div class="w3-container">
              <p class="title"><input type="button" routerLink="#tracks" class="w3-btn w3-white w3-text-cyan w3-border w3-border-cyan w3-round-xxlarge" value="see more tracks"></p>
            </div>
          </div>
        
        </div>
    
     
        <div class="w3-col w3-container m5 l3">  
         <a href=""> <h4>Playlists</h4></a>
          <div class="br w3-col m12 card-container">
           <li class="list-items">
             <div class="w3-container w3-row">
              <div class="w3-col m4">
                 <img src="{{imageSrc}}" class="w3-circle" style="width:60%"/>
              </div>
              <div class="w3-col m8">
                <p>SA Hip Hop 
                  <span> <p>50 tracks - 7000 fans</p></span>
                </p>
               
              </div>
             </div>
           </li>

           <li class="list-items">
            <div class="w3-container w3-row">
             <div class="w3-col m4">
                <img src="{{imageSrc}}" class="w3-circle" style="width:60%"/>
             </div>
             <div class="w3-col m8">
               <p>SA Hip Hop 
                 <span> <p>50 tracks - 7000 fans</p></span>
               </p>
              
             </div>
            </div>
          </li>

          <li class="list-items">
            <div class="w3-container w3-row">
             <div class="w3-col m4">
                <img src="{{imageSrc}}" class="w3-circle" style="width:60%"/>
             </div>
             <div class="w3-col m8">
               <p>SA Hip Hop 
                 <span> <p>50 tracks - 7000 fans</p></span>
               </p>
              
             </div>
            </div>
          </li>
          </div>
        </div>
          <!-- Albums -->
          <div class="w3-container w3-col m12 l12 w3-row mt-10">
            <a href=""><h3>Albums</h3></a>
            <div class="w3-col m2 w3-center w3-hover-opacity mt-2 album-card" *ngFor="let album of albums[0].data.data | slice:0:5 let i=index" >
              <a> <img src="{{album.cover_medium}}" class="br-5" style="width:100%"/></a>
                <div class="w3-container">
                <span><small> <h4 class="">{{album.title}}</h4>
                <p class="title">Released on {{album.release_date}}</p>
                </small></span>
                
            
                </div>
            </div>
          </div>
          </div>
      </my-tab>
    
        <my-tab tab-headers [tabTitle]="'Tracks'" id="tracks">
          <div class="w3-container artist-tab w3-animate-zoom w3-col m12 l12 " id="tracks">
            <div class="w3-col m12 card-container">
              <table class="table">
                <tbody>
                  <tr>
                    <td>#</td>
                    <td>Title</td>
                    <td></td>
                    <td></td>
                    <td>Duration</td>
                  </tr>
                    <tr  *ngFor="let track of tracks[0].data.data  | slice:0:30 let b=index">
                    <td >{{b + 1}}</td>
                    <td>{{track.title_short}}</td>
                    <td><a href="{{track.link}}">Play</a></td>
                    <td><span *ngIf="track.explicit_lyrics" class="w3-badge w3-round w3-text-white w3-grey w3-border w3-tiny" style="padding:1px 5px 1px 5px">E</span>
                     <span  *ngIf="!track.explicit_lyrics" style="padding:1px 5px 1px 5px"> </span></td>
                    <td>{{track.duration | duration}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="w3-container">
                <!-- <p class="title"><input type="button" class="w3-btn w3-white w3-text-cyan w3-border w3-border-cyan w3-round-xxlarge" value="see more tracks"></p> -->
              </div>
            </div>
          
          </div>
        </my-tab>
        </app-tabs>
</div>

</div>
