.mt-40{
    margin-top:40px;
}
.mt-20{
    margin-top:20px;
}
.p-20{
    padding-right:40px;
    padding-left:40px;
    margin-bottom:80px;
  //  border:1px solid red;
}

.br{
    border-radius:5px;
    box-shadow: grayscale($color: #000000);
    height:auto;
}
.br-5{
    border-radius: 5px;
}

.artist-card{
  padding-bottom:10px;
//  border-bottom: 1px solid lightgrey;
}
.card-container{
    padding:20px;
}

.list-items{
    height:50px;
    list-style-type:none;
    margin-top:8px;
 //   border:1px solid blue;

}
.tab-headers{
    padding:10px
}

.tab-headers>li :active{
border-bottom:2px solid red;
}

.album-card{
    margin-left: 24px;
  }

 td :hover{
     background-color: lightgrey;
 }