.mt-40{
    margin-top:40px;
}
.mt-20{
    margin-top:20px;
}
.mt-10{
    margin-top:10px;
}
.p-20{
    padding-right:40px;
    padding-left:40px;
    margin-bottom:80px;
  //  border:1px solid red;
}
.display-hover:hover a{
    visibility: hidden;
}

.display-hover:hover img{
    visibility: visible;
}

.display-hover img {
    visibility: hidden;
    position: absolute;
    background-color: inherit;
}

.controls {
   height: 25px; 
   width: 25px; 
}
  
tr:hover {
    background-color: aliceblue;
}

.related-card{
    box-shadow: 1px 0px 11px 3px #19192229;
}

.br{
    border-radius:3px;
    // box-shadow: grayscale($color: #000000);
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 15%), 0 0px 7px rgb(0 0 0 / 10%);
    height:auto;
}
.br-5{
    border-radius: 5px;
}

.artist-card{
  padding-bottom:10px;
//  border-bottom: 1px solid lightgrey;
}
.card-container{
    padding:20px;
}

.list-items{
    height:50px;
    list-style-type:none;
    margin-top:8px;
 //   border:1px solid blue;

}
.tab-headers{
    padding:10px
}

.tab-headers >li :active{
border-bottom:2px solid red;
}

.tab-headers > li > a :active{
border-bottom:2px solid red;
}

.album-card{
    margin-left: 24px;
}
.album-thumb {
    width: 100%;
}
.playlist-thumb {
    width: 80%;
    padding-top: 5px;
    cursor: pointer;
}
.playlist-title {
    margin-block: 20px 0px;
}
.related-card{
    width: 90%;
}

 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
   // grid-gap: 55px;
    //background-color: #2196F3;
    //padding: 10px;
  }
  
  .grid-container > div {
   // background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2px 0;
  
  }
  .playlist-cards{
    width: 100%;
    cursor: pointer;

  }
  
  /*********/
  @media screen and (max-width: 500px) {
    .p-20{
        // padding-right:40px;
        padding-left:0px;
        margin-bottom:80px;
      //  border:1px solid red;
    }

    .artist-card{
        padding-bottom:0px;
        text-align: center;
      //  border-bottom: 1px solid lightgrey;
      }
      .nav-tabs[_ngcontent-gkv-c21] {
        border-bottom: 2px solid #DEE3E7;
        /* padding-block: 10px; */
    }

    .w3-container, .w3-panel {
        padding: 0.01em 10px;
    }
    // .playlist-subcontainer{
    // justify-content: center;
    // text-align: center;
    // }

    

    .album-card{
        margin-left: 0px;
        cursor: pointer;
    }
    .album-thumb {
        width: 60%;
    }
    .albm-card {
        width: 55%;
    }
    .related-card{
        width: 60%;
    }
    .plyst-card{
        width: 60%;
    }
    .playlist-thumb {
        width: 50%;
        cursor: pointer;
      //  padding-top: 5px;
    }
    .playlist-title {
        margin-block: 5px 0px;
    }
    .playlist-container{
    justify-content: center;
    text-align: center;
    }

    .play-tab{
        display: none;
    }
    #discography{
        padding-bottom: 0px;
        border-bottom: 1px solid lightcyan;
    }
    .top-tracks{
        /*width: 100%; */
        padding: 0px;
    }
   
    .card-container{
        padding: 20px;
        font-size:small;
    }

    .grid-container{
        display:inherit;
    }

  }