.horizontal-scroll{
    overflow-x: scroll;
    white-space: nowrap;
}
.mr-10{
    margin:10px;
}
.w3-card-4{
    display:inline-block;
    width:250px;
    margin:10px;
}

.artist-card{
    box-shadow: 0 1px 6px rgb(25 25 34 / 16%);
}

.grid-container {
    display: grid;
    grid-template-columns:repeat(6,1fr);
    grid-gap: 0px;
    //background-color: #2196F3;
    //padding: 10px;
}

