<div class="w3-container mt-5">
  
<!-- 
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">image</th>
        <th scope="col">Artist</th>
        <th scope="col">Albums</th>
        <th scope="col">No. Fans</th>
        <th scope="col">Top tracks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let art of artist">
        <td>{{art.data.id}}</td>
        <td><img src="{{art.data.picture_medium}}" /></td>
        <td>{{art.data.name}}</td>
        <td>{{art.data.nb_album}}</td>
        <td>{{art.data.nb_fan}}</td>
        <td><a href="{{art.data.tracklist}}"> Top Tracks </a></td>
      </tr>
    
    </tbody>
  </table> -->
<!-- <div  class="w3-col m12 w3-row ">
<div class="w3-display-container  col-md-12">
   <div class="w3-col m2 w3-center w3-hover-opacity mr-10" *ngFor="let art of artist[0].data.data">
   <img src="{{art.picture_medium}}" class="w3-circle" style="width:90%"/>
    <div class="w3-display-middle w3-display-hover w3-large">
      <p class="w3-center w3-white">{{art.name}}</p>
    </div>
    <div class="w3-container">
    <h6 >{{art.name}}</h6>
    <p class="title">{{art.nb_fan}} fans</p>

    </div>
    </div>
 
</div>
</div> -->
<div  class="w3-col m12 w3-row ">
<!-- <div class="w3-display-container  col-md-12"> -->
   <div class="w3-col m2 w3-center w3-hover-opacity mr-10" *ngFor="let art of artist">
    <a routerLink="/profile/{{art.data.id}}"> <img src="{{art.data.picture_medium}}" class="w3-circle" style="width:90%"/></a>
    <div class="w3-display-middle w3-display-hover w3-large">
     <p class="">{{art.data.name}}</p>
    </div>
    <div class="w3-container">
    <h6 >{{art.data.name}}</h6>
    <p class="title">{{art.data.nb_fan}} fans</p>

    </div>
    </div>
 
<!-- </div> -->
</div>
