<div class="horizontal-scroll">
    <app-radio></app-radio>
</div>

<h3>Recent Songs</h3>
<div class="horizontal-scroll">
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>    
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  

</div>

<h3>Popular-Songs</h3>
<div class="horizontal-scroll">
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>    
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%">
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>  
    <div class="w3-card-4">
        <img src="{{imageSrc}}" style="width:100%" />
        <div class="w3-container w3-center">
            <p>Song Title</p>
        </div>
    </div>

</div>