@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/Roboto_Condensed/regular/RobotoCondensed-Regular.woff2') format('woff2'),
      url('../fonts/Roboto_Condensed/regular/RobotoCondensed-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }