<nav class="w3-top">
<ul class="top-menu">
  
  <label for="toggle" id="burger">&#9776; <span class="rsLogo w3-animate-opacity">Deezer</span></label>
  <input type="checkbox" id="toggle"/>
 
<div class="items w3-animate-opacity">
    
    <li class="logo"><a routerLink="/" >Deezer</a></li>
    <li><a routerLink="/"  [ngClass]="{'active': true}">Home</a></li>
    <li><a routerLink="/browse">For You</a></li>
    <li><a routerLink="/charts/albums">Albums</a></li>
    <li><a routerLink="/charts/podcasts">Podcasts</a></li>
    <li> <a routerLink="/charts/radio">Radio</a></li>
    <li class="search-container">
      <app-search-bar></app-search-bar>
    </li>
    <li>  
      <a href="" style="padding: 0px 6px;"> 
        <img src="{{user}}" class="w3-circle user" />
      </a>
      <span class="username">Vuyo</span>
    </li>
    <li style="padding: 0px 18px;"><a  class="w3-bar-item" id="loginbtn" onclick="login()">Login</a></li>
</div>
</ul>
</nav>