.top-menu{
    height: auto;
    padding: 8px 0px 0px 0px;
    background-color: whitesmoke;
    padding-bottom: 2px;
}
span.username {
    font-size: 15px;
}
.logo{
    color:Red;
    font-size:large;
    padding : 0px 0px;
}
.rsLogo{
    color:Red;
    font-size:large;
    padding : 0px 0px;
    display: none;
}
.user{
    height: 35px;
    background-color: black;
}

.artist-img{
    border-radius:50%
}

a{
    text-transform: none;
    text-decoration:none;
}

a:hover {
    color:red;
  //  background-color:blue;
    font-weight:600;
    text-decoration:none;
}

a:active {
    color:Red;
}
/*********/
nav ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.logo{
    flex:1;
    font-size:17px;
    font-weight:700;
}
nav ul div.items{
    padding: 0px 50px;
    display: inline-flex;
    width: 85%;
    text-align: center;
    justify-content: center;
}
nav ul div.items a{
    text-decoration: none;
    font-size: 16px;
    padding:0 20px;
    font-weight:600;
    clear: right;
}

nav ul .search-container{
    height:40px;
    width: 40%;
    padding: 0px 17px;
}

nav ul div.items li{
    line-height: 35px;
}

label {
    margin: 0px 0px 7px 10px;
    font-size: 24px;
    line-height: auto;
    display: none;
    width: 26px;
    /* float: right; */
    left: 0;
}
#toggle {
    display: none;
}

/*********/

@media screen and (max-width: 500px) {

    .rsLogo{
        position: fixed;
        display: inline-flex;
        margin: 5px 135px;
    }
    nav ul li.search-container{
        margin: auto;
    }

    label {
        display: inline-block;
        cursor: pointer;
        height: 30px;
        background-color: inherit;
        width: 100%;
    }
    nav ul div.items{
        text-align: center;
        width: 100%;
        display: none;
    }
    .items a{
        display: block;
        //border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
   
    #toggle:checked + .items {
        transition: ease-in 0.5s;
        display: block;
    }

}
@media screen and (max-width: 1052px) {
    nav {
      float: none;
      display: inline-table;
      height: auto;
    }

    nav ul li.logo{
        display:none
    }

    nav ul li span.username {
        display:none
    }

    nav ul div.items{
        flex:4;
    }
  }