/* You can add global styles to this file, and also import other style files */
@import 'assets/modules/font';

// primary font
$primary_font: 'RobotoCondensed';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

body {
    font-family: $primary_font !important;
    font-size: $primary-fs;
    font-weight: $regular;
}

a{
    text-transform: none;
    text-decoration:none;
}

a:hover {
    color:red;
  //  background-color:blue;
    font-weight:600;
    text-decoration:none;
}

a:active {
    color:Red;
}