.display-hover:hover a{
  visibility: hidden;
}
.display-hover:hover img{
  visibility: visible;
}

.display-hover img {
  visibility: hidden;
  position: absolute;
background-color: inherit;
}

.track-cards{
    width: 100%;
   // padding: 5px;
  }

.br-5{
    border-radius: 5px;
}

tr:hover {
    background-color: aliceblue;
}

.controls {
   height: 25px; 
   width: 25px; 
}

.alb-card{
    padding-bottom:10px;
  //  border-bottom: 1px solid lightgrey;
  }

.card-container{
      padding:20px;
}
@media screen and (max-width: 500px) {
  .alb-card{
    padding-bottom: 10px;
    text-align: center;
    font-size: smaller;
}
  .card-container {
      padding: 0px;
  }

  .w3-container, .w3-panel {
    padding: 3px 11px;
}
  
  .play-tab{
      display:none;
  }
    }