<div class="w3-container mt-3  p-20">
    <div class="w3-container w3-animate-opacity w3-col m12 alb-card">
        <div class="w3-container w3-row mt-2" *ngFor="let album of albumdata">
            <div class="w3-col m2 l3 w3-center w3-hover-opacity">
                <img src="{{album.data.cover_big}}" class="br-5" style="width:80%"/>
            </div>
             <div class="w3-col m8 l9">
                <h2>{{album.data.title}}</h2>
                <span class="w3-grey w3-text-white w3-small br-5" style="padding:3px">{{album.data.record_type}}</span>
                <h4><a routerLink="/profile/{{album.data.artist.id}}">{{album.data.artist.name}}</a></h4>
                <p class="title">{{album.data.fans}} fans</p>
                
                <p class="title"><small>Released {{album.data.release_date}} - <color class="title w3-text-cyan">{{album.data.label}}</color> - {{album.data.nb_tracks}} tracks - {{album.data.duration | duration}} </small></p>
               
                &nbsp;
                <div class="w3-row m6 l6" style="display:flex">
                  <div class="w3-col m4 l4">
                    <a (click)="DZ.player.playAlbum('{{album.data.id}}')"><input type="button" class="w3-btn w3-cyan w3-text-white w3-round-xxlarge" value="Listen to album"></a>&nbsp;
                    <a href="{{album.data.share}}"><input type="button" class="w3-btn w3-cyan w3-text-white w3-round-xxlarge" value="Share"></a>
                  </div>
                </div>
              
             </div>
        </div>
    </div>
    
    <div class="w3-container w3-animate-opacity w3-col m12  mt-20 mb-5">
        <div class="w3-col m12 card-container">
            <table class="table">
              <tbody>
                <tr style="border-top:1px solid lightgray">
                  <td>#</td>
                  <td>Title</td>
                  <td></td>
                  <td></td>
                  <td>Duration</td>
                </tr>
                  <tr  *ngFor="let track of tracks[0] | slice:0:30 let b=index" class="display-hover">
                    <td > <a onclick="DZ.player.playTracks('{{track.id}}')">
                      <img src="../../../../assets/images/play.png" class="controls animate__animated animate__pulse">
                        {{b + 1}}
                    </a></td>
                  <td>{{track.title_short}}</td>
                  
                  <td><a href="{{track.link}}">listen</a></td>
                  <td><span *ngIf="track.explicit_lyrics" class="w3-badge w3-round w3-text-grey w3-white w3-border w3-tiny" style="padding:1px 5px 1px 5px">EXPLICIT</span>
                   <span  *ngIf="!track.explicit_lyrics"> </span></td>
                  <td>{{track.duration | duration}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>